body {
  background-color: #d3d3d3;
}

.search-container {
  display: flex;
  flex-direction: row;
}

.results-container {
  display: flex;
  flex-direction: column;
}

.field {
  margin: auto;
  padding-top: 35px;
}

.search {
  border: none;
  border-color: transparent;
  background-color:rgba(0,0,0,0);
  outline: none;
  width: 150px;
  height: 90px;
  margin: auto;
  font-size: 50px;
  color: #bf202d;
}

#title {
  font-weight: bold;
}


button {
  margin: auto;
  border: none;
  border-color: transparent;
  outline: none;
}
