body {
  background-color: #729ea1;
}

.title {
  margin-top: 25px;
  text-align: center;
  font-size: 60px;
  color: #dfbe99;
}

.random {
  text-align: center;
  font-size: 15px;
  color: #ec9192;
}

.search-container {
  display: flex;
  flex-direction: row;
}

.results-container {
  display: flex;
  flex-direction: column;
  color: #edf3ff;
}

.field {
  margin: auto;
  padding-top: 35px;
}

.search {
  border: none;
  border-color: transparent;
  background-color:rgba(0,0,0,0);
  outline: none;
  width: 350px;
  height: 90px;
  margin: auto;
  font-size: 50px;
  color: #dfbe99;
}

#title {
  font-weight: bold;
  color: #b5bd89;
}

a {
  text-decoration: none;
  color: #dfbe99;
}

a:hover {
  text-decoration: underline;
  color: #db5375;
}

button {
  border: none;
  border-color: transparent;
  outline: none;
  margin-left: 10px;
  padding-bottom: 10px;
}
